body {
  margin: 0;
  font-family: "Girassol", cursive;
  /*font-family: 'Roboto', sans-serif;*/
  /* min-height: 3000px; */
  /* padding-top: 90px; */
  padding-bottom: 60px;
  background-color: #88a2aa;
}

header .container {
  width: 1440px;
  max-width: 100%;
}

nav {
  background-color: #001b2e;
  padding: 5px 10px;
}

header nav ul li a {
  color: #88a2aa;
  font-size: 16px;
  letter-spacing: 0.37px;
  margin-right: 20px;
  text-decoration: none;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}

header nav ul li a:hover {
  color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: rgb(152, 185, 135);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  margin: auto;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #88a2aa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropTxtSkills {
  color: #3e8e41;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* dextop view*/

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toogle {
  order: 1;
}

.item {
  width: 70%;
  text-align: center;
  order: 3;
  display: block;
}

.item.active {
  display: block;
}

.toogle {
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
}
